body {
  font-family: 'Lato', sans-serif !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.referanse-img {
  max-height: 100px;
  margin: 0 auto;
}

.quote {
  font-size: 18px;
  font-style: italic;
}

.quote-by {
  float: right;
}

.read-more-btn {
	width: 90px;
  background-color: #1b92c7;
  border-color: #1b92c7;
}

.navbar-brand {
	padding: 7px 0 0 15px;
}

.navbar-custom .navbar-nav>.active>a {
	background-color: #146c94;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: #fff;
}

.navbar-custom .navbar-nav>.active>a:focus, .navbar-custom .navbar-nav>.active>a:hover {
    background-color: #146c94;
}

.text-primary, a {
    color: #1b92c7;
}

.profile-photo {
	max-width: 200px;
	max-height: 200px;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #1b92c7;
}

img.prosessen-img {
  margin: 0 auto;
}

.prosessen-img-wrapper {
  height: 100%;
  padding-top: 30px;
}

.prosessen-img-wrapper .img-circle {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  min-height: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #1b92c7;
}

@media (min-width: 300px) {
  .navbar-custom {
    background-color: #1b92c7;
  }
}

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #1b92c7;
  }
}

.navbar-custom .navbar-toggle {
  background-color: #146c94;
  border-color: #146c94;
}

.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #146c94;
  border-color: #146c94;
}

header {
  background-image: url('../img/startscene.png');
  height: 100vh;
  overflow: hidden;
}

video.full {
  position: absolute;           
  right: 0;
  bottom: 0;
                   

  min-width: 100%;           
  min-height: 100%;
  width: auto;               
  height: auto;

  top: 50%;                  
  left: 50%;                 

  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);         

  background: url('../img/startscene.png') no-repeat;      
  background-size: cover;
}

.intro-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro-text .intro-lead-in {
  font-weight: bold;
  margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 768px) { 
  .prosessen-img-wrapper {
    height: 100%;
    padding-top: 13px;
  }

  img.prosessen-img {
    width: 40px;
  }
}

@media (min-width: 769px) and (max-width: 992px) { 
  .prosessen-img-wrapper {
    height: 100%;
    padding-top: 13px;
  }

  img.prosessen-img {
    width: 60px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) { 
  .prosessen-img-wrapper {
    height: 100%;
    padding-top: 30px;
  }

  img.prosessen-img {
    width: 80px;
  }
}

@media (min-width: 300px) and (max-width: 768px) { 
  .video {
    display: none;
  }
}
