.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.referanse-img {
  max-height: 100px;
  margin: 0 auto;
}

.quote {
  font-size: 18px;
  font-style: italic;
}

.quote-by {
  float: right;
}

.read-more-btn {
	width: 90px;
  background-color: #1b92c7;
  border-color: #1b92c7;
}

.navbar-brand {
	padding: 7px 0 0 15px;
}

.navbar-custom .navbar-nav>.active>a {
	background-color: #146c94;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: #fff;
}

.navbar-custom .navbar-nav>.active>a:focus, .navbar-custom .navbar-nav>.active>a:hover {
    background-color: #146c94;
}

.text-primary, a {
    color: #1b92c7;
}

.profile-photo {
	max-width: 200px;
	max-height: 200px;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #1b92c7;
}

img.prosessen-img {
  margin: 0 auto;
}

.prosessen-img-wrapper {
  height: 100%;
  padding-top: 30px;
}

.prosessen-img-wrapper .img-circle {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  min-height: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #1b92c7;
}

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #1b92c7;
  }
}
